# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
nbproject/private/

# Logs
*.log

# Environment files
.env

# XAMPP temporary files
xampp/

# Dependency folders (if used later)
vendor/
node_modules/

# Cache
.cache/

# Database backups
*.sql.bak

# Temporary files
*.tmp
*.temp